<div class="header-container">
    <div class="header-glass">
     <header>
      <h1>Projeto <span>Alura</span></h1>
      
      <div class="search">
        <input type="text" placeholder="O que você deseja aprender?">
      </div>

      <div class="login">
        <!-- email e role separados -->
        <div class="user-info">
          <p class="user-email">{{ email() }}</p>
          <span class="papel">{{ role() }}</span>
        </div>

        <div class="user-drop-down">
          <button class="drop-btn" (click)="toggleDropdown()">+</button>
          @if (dropdownOpen()) {
            <div class="drop-content">
              <a routerLink="/atualizar">Atualizar Perfil</a>
              <a (click)="logout()" style="cursor:pointer">Sair</a>
            </div>
          }
        </div>
      </div>

     </header>
    </div>
</div>