.footer-container {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  padding: 20px;
  
  margin-top: auto;
  text-align: center;
}

.footer-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
}